@font-face {
    font-family: "Montserrat", sans-serif;
    src: url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap")
    format("woff2");
}

@font-face {
    font-family: "Allura", cursive;
    src: url("https://fonts.googleapis.com/css2?family=Allura&display=swap")
    format("woff2");
}

@font-face {
    font-family: "Bodoni Moda", serif;
    src: url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@1,6..96,600&display=swap")
    format("woff2");
}

body {
    font-family: "Montserrat", sans-serif;
}

.header-image {
    background-image: url('../images/bling-pave-stone-evil-eye-women-New-Fashion-chunky-Clavicle-Chain-for-Women-Irregular-Sun-Turquoise.jpg_Q90.jpg_.webp');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 900px;
    max-width: 1400px;
    margin-top: -16px;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}

nav li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 30px;
    padding-right: 50px;
    padding-top: 200px;
}

.non-home-nav {
    color: black;
}

.active {
    text-decoration: bold;
    font-weight: bold;
}

a, button {
    cursor: pointer;
}

header h1 {
    font-family: "Bodoni Moda", serif;
    color: #ffffff;
    font-size: 150px;
    margin-left: 300px;
    margin-top: 150px;
}

header h2 {
    font-family: "Allura", cursive;
    color: #117a59;
    font-size: 70px;
    margin-left: 300px;
    /* margin-top: 50px; */
}

/* .carousel-container img {
    width: 50%;
    height: 50%;
}

.carousel-container p {
    width: 80px;
    height: 150px;
} */

.blog-h1 {
    margin-left: 110px;
}

.preview-container {
    margin-left: 110px;
}

.preview-container h1 {
    margin-top: 50px;
}

.preview-container p {
    max-width: 570px;
}

.preview-container a {
    text-decoration: none;
    color: black;
    font-size: 12px;
}

.wp-block-image {
    margin-left: -40px;
    object-fit: cover;
    width: 570px;
    height: 300px;
}

.wp-block-image img {
    object-fit: cover;
    width: 570px;
    height: 300px;
}

.more {
    margin-left: 340px;
    padding: 10px;
}

.specific-container {
    margin-left: 110px;
}

.specific-container h1 {
    margin-top: 50px;
}

.specific-container p {
    max-width: 570px;
}

.modal-source {
    cursor: pointer;
  }

.real-modal {
    margin: auto;
    display: block;
    max-width: 500px;
    position: fixed;
    top: 0;
    margin-left: 150px;
}

.about-outfit {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.about-img {
    max-width: 350px;
    margin-left: 250px;
    border-radius: 50%;
    padding: 20px;
}

.about-text {
    margin-top: 30px;
    padding-left: 30px;
    max-width: 500px;
}

.about-text h1 {
    margin-left: 20px;
}

.about-p {
    padding-left: 20px;
}

/*footer thing under this*/
.footer-container-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    min-height: 80px;
}

.social-media {
    margin-top: 15px;
    padding-left: 60px;
}

.social-media i {
    font-size: 2em;
    padding-top: 10px;
}

.copyright {
    padding-right: 40px;
    margin-top: 30px;
}

footer a {
    text-decoration: none;
    color: white;
}

footer {
    background-color: rgb(0, 0, 0);
}

footer p {
    color: white;
}
